/* .head{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: fit-content;
    color: #D3D0CB;
    margin: 2.5%;
} */

.welcome {
    font-size: 3rem;
}

